 <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About Agist Media</h3>
            <p>Agist Media is a global multimedia blog that provides you with varieties of mind blowing stories, from all aspects of life..</p>
            <p><a href="/about" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/index"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="/index"><i class="bi bi-chevron-right"></i> Blog</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Categories</a></li>
              <li><a href="/articles"><i class="bi bi-chevron-right"></i> Single Post</a></li>
              <li><a href="/about"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="/contact"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Business</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Culture</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Sport</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Food</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Politics</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Startups</a></li>
              <li><a href="/category"><i class="bi bi-chevron-right"></i> Travel</a></li>

            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              {%- for post in collections.new -%}
              {%- if loop.index <=4 -%}
              <li>
                <a href="{{post.data.url}}" class="d-flex align-items-center">
                  <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">{{post.data.tags}}</span> <span class="mx-1">&bullet;</span> <span>{{post.date | postDate }}</span></div>
                    <span>{{post.data.title}}</span>
                  </div>
                </a>
              </li>
              {%- endif -%}
              {%- endfor -%}
              
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright 2023 <strong><span>Agistmedia</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
            
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
